html  {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style-type: none;
  text-decoration: none;
  color: white;
}

/* Styling für die Navigationsleiste */
.sidebar {
  width: 20rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background:  #393e46;
  z-index: 100;
  transition: width 300ms;
}

.sidebar-brand {
  height: 3rem;
  padding: 1rem 0rem 1rem 1rem;
  display: flex;
}

.sidebar-brand a {
  color: #fff;
  margin-left: 1rem;
}

.sidebar-brand span {
  display: inline-block;
  padding-right: 1rem;
}

.sidebar-menu {
  margin-top: 2rem;
}

.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;
}

.sidebar-menu a {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
}

.sidebar-menu a.active {
  background: #d65a31;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #ffffff;
  border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a span:first-child {
  font-size: 2.5rem;
  padding-right: 1rem;
}

#nav-toggle:checked + .sidebar {
  width: 7rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand a {
  text-align: center;
}

#nav-toggle:checked + .sidebar li {
  padding-left: 1rem;
  text-align: center;
}

#nav-toggle:checked + .sidebar li a {
  padding-left: 0rem;
}

#nav-toggle:checked + .sidebar li a span {
  padding-right: 1rem;
  margin-left: 1rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand a span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
  display: none;
}

#nav-toggle:checked ~ .main-content {
  margin-left: 7rem;
}



.main-content {
  transition: margin-left 300ms;
  margin-left: 20rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 4px 4px 10px #222831;
  position: fixed;
  width: calc(100% - 7rem);
  margin-right: 1rem;
  height: 4rem;
  top: 0;
  z-index: 100;
  background: rgb(53, 53, 53);
  transition: left 300ms;
}

#nav-toggle {
  display: none;
}

header small {
  color: rgb(219, 219, 219);
}

header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
  color: #fff;
  cursor: pointer;
}

.user-wrapper {
  display: flex;
  align-items: center;
}

.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}

.user-wrapper h4 {
  color: #fff;
}

.user-wrapper small {
  display: inline-block;
  color: rgb(228, 228, 228);
}

/* @media only screen and (max-width: 960px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .view-grid {
    grid-template-columns: 1fr 1fr;
  }
} */

/* Auf kleinen Bildschirmen mit 768 Pixeln werden nur noch zwei kleine Karten nebeneinander angezeigt. Große Karten werden einzeln angezeigt. 
Außerdem verschwindet die Navigationsleiste und lässt sich über den Button mit den Balken wieder einblenden.
*/

@media only screen and (max-width: 768px) {
  /* .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .view-grid {
    grid-template-columns: 100%;
  } */

  #nav-toggle:checked + .sidebar {
    display: none;
  }

  #nav-toggle:checked ~ .main-content {
    margin-left: 0rem;
    width: 100%;
  }

  header {
    width: 100%;
  }

  header h2 {
    display: flex;
    align-items: center;
  }

  header h2 label {
    display: inline-block;
    padding-left: 0.4rem;
    margin-right: 0.1rem;
    width: 5rem;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
  }

  header h2 span {
    text-align: center;
    padding-left: 0rem;
  }

  header h2 {
    font-size: 1.1rem;
  }

  /* .sidebar {
    left: -100% !important;
  }

  .main-content {
    width: 100%;
    margin-left: 0rem;
  }

  header {
    width: 100% !important;
    left: 0 !important;
  }

  #nav-toggle + .sidebar {
    left: 0 !important;
    z-index: 100;
    width: 345px;
  }

  #nav-toggle + .sidebar .sidebar-brand,
  #nav-toggle + .sidebar li {
    padding-left: 2rem;
    text-align: left;
  }

  #nav-toggle + .sidebar ul {
    padding-top: 2rem;
  }

  #nav-toggle + .sidebar li a {
    padding-left: 1rem;
  }

  .sidebar li a span {
    padding-right: 1rem;
  }

  #nav-toggle + .sidebar .sidebar-brand a span:last-child,
  #nav-toggle + .sidebar li a span:last-child {
    display: inline;
  }

  #nav-toggle ~ .main-content {
    margin-left: 0rem !important;
  } */
}

@media only screen and (max-width: 560px) {
  .cards {
    grid-template-columns: 100%;
  }
}

main {
  margin-top: 4rem;
  padding: 2rem 1.5rem;
  padding-top: 1rem;
  min-height: calc(100vh - 4rem);
  background: #eeeeee;
}

.hidden {
  display: none !important;
}
